# Node modules
node_modules/

# Tailwind output
dist/
build/
css/styles.css

# macOS
.DS_Store

# Environment files
.env

# IDE/editor settings
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*